Django>=4.2,<5.1
djangorestframework>=3.14
djangorestframework-simplejwt
rest_framework_simplejwt
channels>=4.0
channels-redis>=4.1
torch>=2.4,<3.0
torchvision>=0.15,<1.0
torchaudio>=2.0,<3.0
faster-whisper>=1.2.0
silero-vad
onnxruntime>=1.14,<2
pydub>=0.25.1
ffmpeg-python>=0.2.0
python-dotenv>=1.0.0
requests>=2.31.0
groq
psycopg2-binary
numpy==1.26.4
pika
soundfile
django-cors-headers
daphne
uvicorn[standard]
scipy
aio_pika
grpcio
grpcio-tools
pytest
pytest-django
pytest-asyncio
flake8
black
autoflake