apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "voice-ai.fullname" . }}
  labels:
    app: {{ include "voice-ai.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "voice-ai.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "voice-ai.name" . }}
    spec:
      containers:
        - name: voice-ai-web
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          workingDir: /app/voiceAI
          command: ["sh", "-c", "./start.sh"]
          env: 
            {{- range $key, $value := .Values.env}}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
          ports:
            - containerPort: 8000
          readinessProbe:
            httpGet:
              path: /health/
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 5